


.App {
  text-align: center;
}


.card-body {
  text-align: center;
}

.card-title{
  font-weight: bold;
  color : #031424;
  font-size: 15px;
}
.card-text {
  color : #031424;
  font-size: 15px;
}

.card:hover {
  box-shadow : -1px 9px 40px -12px rgba(0,0,0,0.75);
  transform: scale(0.8);
}

.card {
  transition: all 0.9s ease;
  transform-style: preserve-3d;

}


.navbar {
  background-color: #031424;
}

li > a {
  color : white;
}
.blue {
  background-color: #031424;
}

.text-uppercase{
color: white;
}

.para {
  color : white;
}